name: Cleanup Stale Branches

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # This schedule runs the workflow at midnight every day

jobs:
  cleanup-stale-branches:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup Stale Branches
        uses: cbrgm/cleanup-stale-branches-action@c6bf15e293f579173a40a90f063c5133461784d0 # v1.2.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          allowed-prefixes: "dependabot/,temp-cherry-pick-,cherry-pick-"
          last-commit-age-days: 7
          dry-run: false
          rate-limit: true
